#content{
    width: 100%;
}
#cursor{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
}
#game-infos:hover{
    opacity: 0.8;
}
.onit{
    opacity: 0.8 !important;
}
#game-infos{
    background-color: darkgrey;
    opacity: 0.4;
    padding: 1px;
    margin: 1px;
    position: absolute;
    width: 200px;
    height: 200px;
}
#game-info{
    color: white;
    font-weight: bold;
    overflow: hidden;
    width: 200px;
    height: 180px;
}
#field{
    width: 196px;
}
.button {
    padding: 5px 10px;
    display: inline;
    background: #777 url(/fortuneapp/images/button.png) repeat-x bottom;
    border: none;
    color: #fff !important;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 1px 1px #666;
    }
.button:hover {
    background-position: 0 -48px;
    }
.button:active {
    background-position: 0 top;
    position: relative;
    top: 1px;
    padding: 6px 10px 4px;
    }
.button.red { background-color: #e50000; }
.button.purple { background-color: #9400bf; }
.button.green { background-color: #58aa00; }
.button.orange { background-color: #ff9c00; }
.button.blue { background-color: #2c6da0; }
.button.black { background-color: #333; }
.button.white { background-color: #fff; color: #000; text-shadow: 1px 1px #fff; }
.button.small { font-size: 75%; padding: 3px 7px; }
.button.small:hover { background-position: 0 -50px; }
.button.small:active { padding: 4px 7px 2px; background-position: 0 top; }
.button.large { font-size: 125%; padding: 7px 12px; }
.button.large:hover { background-position: 0 -35px; }
.button.large:active { padding: 8px 12px 6px; background-position: 0 top; }
.button.huge { font-size: 175%; padding: 11px 17px; }
.button.huge:hover { background-position: 0 -20px; }
.button.huge:active { padding: 12px 17px 10px; background-position: 0 top; }

.fsel{
    font-size: 8pt; border: 1px solid #fff; background-color: #000; padding: 10px; color: #ccc
}
*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

#map-footer{
    position:fixed; bottom:0;
}

#editor{
}