/secrets.py
/node/live_variables.js
/node/variables.js
/stack/
/origin/images/
/electron/dist/
/electron/node_modules/
/node/node_modules/
/scripts/node_modules/
*.pyc
*.pyo
*.pem
*.pub
*.bak
/scripts/test.js
# System Files
.DS_Store
Thumbs.db
/venv/
/Resources/
/lib/
/include/
*.cfg