<!DOCTYPE html>
<html>
	<head>
		<title>It Is What It Is</title>
		<link rel="apple-touch-icon-precomposed" href="/images/favicon.png" /> <!-- 152 -->
		<link rel="icon" href="/images/favicon.png" /> <!-- 32 -->
		<!--[if IE]><link rel="shortcut icon" href="/images/favicon.png"><![endif]--> <!-- .ico -->
		<meta name="msapplication-TileImage" content="/images/favicon.png"> <!-- 144 -->
		<script src="/js/jquery/jquery-{{domain.jquery_version}}.min.js"{%if domain.electron%} onload="if(typeof require!=='undefined') window.$=window.jQuery=module.exports;"{%endif%}></script>
		<script src="/js/common_functions.js?v={{domain.v}}"></script>
		<script src="/js/functions.js?v={{domain.v}}"></script>
		<link href="/css/common.css?v={{domain.v}}" rel="stylesheet" type="text/css"/>
		<link href="/css/index.css?v={{domain.v}}" rel="stylesheet" type="text/css"/>
		<style>
			html{
				background: #E5E5E5;
				color: #010805;
			}
			html,pre,body{
				font-family: Pixel;
				color: #5D5D5D;
				font-size: 24px;
				/*text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);*/
				margin: 0;
				padding: 0;
			}
			pre{
				white-space: pre-wrap;
				white-space: -moz-pre-wrap;
				white-space: -pre-wrap;
				white-space: -o-pre-wrap;
				word-wrap: break-word;
			}
			body{
				overflow-y:scroll;
			}
			.big{
				color:#E0676D;
			}
			.feature{
				color:#27B175;
			}
			#devlogs{
				margin: 20px 20px 40px 20px;
				max-width: 920px;
				text-align: left;
				display: inline-block;
			}
			body{
				text-align: center;
			}
			#devlogs p{
				margin-bottom: 4px;
				margin-top: 4px;
			}
			#devheader{
				margin-top: 15px;
			}
			#devheader,.devtitle{
				color: #939393;
			}
			.devlink{
				color: #C64C4C;
				color: #D85C61;
			}
			.devbig{

			}
		</style>
		{% if not domain.is_sdk %}
			<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
				ga('create', 'UA-81826565-1', 'auto');
				ga('send', 'pageview');
			</script>
		{% endif %}
	</head>
	<body>
		<div id="devlogs" style="margin-bottom: 32px">
			<div id="devheader">[12/11/16] <span style="float:right">Revised [14/11/16]</span></div>
			<p>When it comes to development, I have a hands-on approach. I love building a community around the game, I love interacting with players, I love receiving feedback and I shape the game according to demands of the playerbase. Which is how it should always be.</p>
			<p>However, sadly, I recently learned why most people don't take such an open approach and why I might be mistaken. The reason is, it's hard to satisfy everyone, and repeated negative feedback is highly demotivating, even if it comes from 5%, while 95% are happy.</p>
			<p>Today, I lost an entire day dealing with petty drama. It should have been a joyful day, with the launch of our new Merchant class.{#, yet, a player who doesn't know anything about copyright decided to make a scene after I requested him not to share and distribute game's JS files in his repository. I've always encouraged players to inspect the game, yet, distributing game's JS files without permission is unacceptable to me.#} I've also upset some players after I reduced the character limit from 3 to 2+1+1, I mean, come on, which game lets you login with 4 characters at once? Just party and collaborate with others.</p>
			<p><span class="feature">TL;DR:</span> I've come to terms with the fact that I can't satisfy everyone, I also can't deal with backlash, I am personally weak that way, I care, It gets to me, so I decided to make some pre-confessions, to not lose any more time with issues like these and just share a link to this page whenever I receive any non-constructive negative feedback.</p>
			<p><span class="feature">The Game is Code to Win.</span> Probably the first of it's kind too. And I'm proud of it. Instead of losing hours playing the game, let machines do the hard work for you. Enjoy the good, fun parts of the game, let CODE do the grinding. While CODE is ENGAGE'd, go do something productive instead, read a book, do your work, study. 2M+ gold from one character a day not enough for you? Login with a second character, party them. Want to do more? Learn how to CODE, use and learn from CODE's of other players.</p>
			<p><span class="feature">The Game is Pay to Win.</span> The game is currently pay to win, I'm considering removing micro-transactions altogether, yet I don't know how I could afford the servers in the long run, having a micro-transaction system seems to be the only way. It's either a subscription-based system like WoW, or a free-to-play game (as in, there are no recurring fee's or subscriptions) + micro-transactions. While the game is still in development, my choice is micro-transactions. Those who can afford to support the game, should have bonuses. This is my stance. I did my best to shape the game so everything is possible without paying a dime, you can buy all premium items from trade with gold, the game even provides shells (our premium currency) from monsters and chests. What else can I do? Nothing. I need to pay my bills, I need to amortise my costs, and I want to make a profit.</p>
			<p><span class="feature">You Can't Get Everything You Want.</span> While the game is more free than any other game out there, especially with Code and capabilities around Code, there are limits too. We have rules too. There is always a line. Not all requests are feasible. There are trade-offs that needs to be made. Servers have their limitations. People have their limitations. I have my limitations.</p>
			<p><span class="feature">The Game is Unfair.</span> Those who CODE better will always beat you, Those who Trade better will always beat you, Those who supported the game might be level 67 while you are level 65. Those who bought a stone might have 3 characters while you have 2. The game is unfair that way. Minor Suggestion: Form a party, Form a guild, There is always a way ...</p>
			<p><span class="feature">The Game is Ever Changing.</span> You have to adapt to changes, your Code needs to adapt to changes, and most importantly, the game will evolve and adapt to changes.</p>
			<p><span class="feature">The Game is Not for Everyone.</span> Honestly, I built the game to provide a unique, simple and concentrated MMORPG Experience. It's something new. It's not for everyone. In my humble opinion. The game provides 30-60 days of fun. This is my objective. Don't see the game as a grand/perfect project. Yes it's grand for me, I will continue to support and improve the game for a long long time, but for a regular player, it should stop being fun after a while. If you are at that point, Thank you so much for being a part of our journey, and I hope the game contributed a lot to you, both socially and intellectually.</p>
			<p>I genuinely try my best to make the game better every single day, 24/7, I wake up with game and sleep with the game, yet, It's an on-going process, It's not perfect, I'm not perfect. If you are not ok. with these, this game might not be for you.</p>
			<div id="devheader" style="text-align: right">Wizard</div>
		</div>
	</body>
</html>
	