<!DOCTYPE html>
<html>
	<head>
		<title>TEST</title>
		<link rel="apple-touch-icon-precomposed" href="/images/favicon.png" /> <!-- 152 -->
		<link rel="icon" href="/images/favicon.png" /> <!-- 32 -->
		<!--[if IE]><link rel="shortcut icon" href="/images/favicon.png"><![endif]--> <!-- .ico -->
		<meta name="msapplication-TileImage" content="/images/favicon.png"> <!-- 144 -->
		<script src="/js/pixi/{{domain.pixi_version}}/pixi.min.js"></script>
		{% if 1%}<script src="/js/pixi-display/{{domain.pixi_display_version}}/pixi-display.js"></script>{% endif %}
		<script src="/js/jquery/jquery-{{domain.jquery_version}}.min.js"{%if domain.electron%} onload="if(typeof require!=='undefined') window.$=window.jQuery=module.exports;"{%endif%}></script>
		<script src="/js/howler/{{domain.howler_version}}/howler.min.js"></script>
		<script src="/js/libraries/bowser/bowser.16.08.16.js"{%if domain.electron%} onload="if(typeof require!=='undefined') window.bowser=module.exports;"{%endif%}></script>
		<script src="/js/libraries/combined.js?v=2"></script>
		<script src="/js/common_functions.js?v={{domain.v}}"></script>
		<script src="/js/functions.js?v={{domain.v}}"></script>
		<script src="/js/html.js?v={{domain.v}}"></script>
		<script src="/js/keyboard.js?v={{domain.v}}"></script>
		<link href="/css/common.css?v={{domain.v}}" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<style>
			body,html{
				margin: 0px;
				padding: 0px;
				background: black;
			}
			canvas{
				display: block;
			}
		</style>
		<script>
			document.addEventListener("DOMContentLoaded",function(event){
				render();
			});
			function render()
			{
				antialias=false;
				renderer=null;
				width=$(window).width();
				height=$(window).height();

				if(0) renderer=new PIXI.autoDetectRenderer(width,height,{antialias: antialias, transparent: false, resolution:window.devicePixelRatio, autoResize:true});
				else renderer=new PIXI.autoDetectRenderer(width,height,{antialias: antialias, transparent: false});

				document.body.appendChild(renderer.view);

				stage = new PIXI.Container();

var grid = new PIXI.Graphics();

  grid.lineStyle(1, 0xffffff, 1);

  grid.moveTo(0,9.5);
  grid.lineTo(20,9.5);

  grid.moveTo(9.5,0);
  grid.lineTo(9.5,20);

//grid.cacheAsBitmap = true;

	grid.boundsPadding = -1;
  //grid.pivot  = {x:1,y:10};

  //stage.addChild(grid);

	var tex111 = grid.generateTexture(2);
  tex111.mipmap = false;
  var tilingSprite = new PIXI.extras.TilingSprite(tex111, 800, 600);
    
    //tilingSprite.tilePosition = {x:10,y:10};
//tilingSprite.cacheAsBitmap = true;

  tilingSprite.x = 2;
  tilingSprite.y = 2;

  stage.addChild(tilingSprite);


				draw();
			}

			function draw()
			{
				renderer.render(stage);
				requestAnimationFrame(draw);
			}
		</script>
	</body>
</html>