<!DOCTYPE html>
<html>
	<head>
		<title>TEST</title>
		<link rel="apple-touch-icon-precomposed" href="/images/favicon.png" /> <!-- 152 -->
		<link rel="icon" href="/images/favicon.png" /> <!-- 32 -->
		<!--[if IE]><link rel="shortcut icon" href="/images/favicon.png"><![endif]--> <!-- .ico -->
		<meta name="msapplication-TileImage" content="/images/favicon.png"> <!-- 144 -->
		{# <script src="/js/pixi/{{domain.pixi_version}}/pixi.min.js"></script> #}
		<script src="/js/pixi/4.0.3-tiling/pixi.js"></script>
		{% if 1%}<script src="/js/pixi-display/{{domain.pixi_display_version}}/pixi-display.js"></script>{% endif %}
		<script src="/js/jquery/jquery-{{domain.jquery_version}}.min.js"{%if domain.electron%} onload="if(typeof require!=='undefined') window.$=window.jQuery=module.exports;"{%endif%}></script>
		<script src="/js/howler/{{domain.howler_version}}/howler.min.js"></script>
		<script src="/js/libraries/bowser/bowser.16.08.16.js"{%if domain.electron%} onload="if(typeof require!=='undefined') window.bowser=module.exports;"{%endif%}></script>
		<script src="/js/libraries/combined.js?v=2"></script>
		<script src="/js/common_functions.js?v={{domain.v}}"></script>
		<script src="/js/functions.js?v={{domain.v}}"></script>
		<script src="/js/html.js?v={{domain.v}}"></script>
		<script src="/js/keyboard.js?v={{domain.v}}"></script>
	</head>
	<body>
		<style>
			body,html{
				margin: 0px;
				padding: 0px;
				background: black;
			}
			canvas{
				display: block;
			}
		</style>
		<script>
			document.addEventListener("DOMContentLoaded",function(event){
				render();
			});
			function render()
			{
				antialias=false;
				renderer=null;
				width=$(window).width();
				height=$(window).height();

				if(1) renderer=new PIXI.CanvasRenderer(width,height,{antialias: antialias, transparent: false, resolution:window.devicePixelRatio, autoResize:true});
				else renderer=new PIXI.autoDetectRenderer(width,height,{antialias: antialias, transparent: false});

				document.body.appendChild(renderer.view);

				stage = new PIXI.Container();
				stage.scale=new PIXI.Point(2,2);

				texture =PIXI.Texture.fromImage('/images/tiles/map/water.png');
				texture.baseTexture.scaleMode=PIXI.SCALE_MODES.NEAREST;
				tile=new PIXI.Texture(texture.baseTexture,new PIXI.Rectangle(16,16,16,16));
				if(1)
				{
					//PIXI.glCore.VertexArrayObject.FORCE_NATIVE = true;
					//tile.mipmap=false; //no changes
					sprite=new PIXI.extras.TilingSprite(tile,16*60,16*25);
					//sprite.width=8*60;
					//sprite.height=8*25;
					stage.addChild(sprite);
				}
				else
				{
					for(var i=0;i<60;i++)
						for(var j=0;j<25;j++)
						{
							var sprite=new PIXI.Sprite(tile);
							sprite.x=i*16;
							sprite.y=j*16;
							stage.addChild(sprite);
						}
				}

				draw();
			}

			function draw()
			{
				renderer.render(stage);
				requestAnimationFrame(draw);
			}
		</script>
	</body>
</html>